<footernav>
    <footer id="Contact">
      <div class="contact-content">        
        <div class="contact">
          <div class="cover">
            <h3>Email Address</h3>
            <p>projectrescuer2023@gmail.com</p>
          </div>

          <div class="cover">
            <h3>Mailing Address</h3>
            <p>Chromepet, Chennai, India</p>
          </div>

          <div class="cover">
            <h3>Phone Number</h3>
            <p>(044) XXXXXXXX</p>
          </div>
        </div>
      </div>
    </footer>                           
</footernav>