{% extends "home/rescuer_base.html" %}

{% block content %}
<head>
    <title>Update Suspension</title>
</head>
<body class="signupbody">
    <div class="signupwrapper">
        <h2>Update Suspension</h2>
        <form action="/suspension/update" method="POST" name="suspension_update" onsubmit="return validateForm()">
            {% csrf_token %}
            <input type="hidden" name="suspension_id" value="{{ suspension.suspension_id }}"/>
            <div class="input-table-scroll">
                <table class="input-table">
                    <tr><td>Suspension Name: <font color="red">*</font></td><td><input type="text" name="suspension_name" value="{{ suspension.suspension_name }}" required/></td></tr>
                    <tr><td>Suspension Cost: <font color="red">*</font></td><td><input type="number" step="0.01" name="suspension_cost" value="{{ suspension.suspension_cost }}" required/></td></tr>
                    
                    <tr>
                        <td><input type="submit" value="Save"/></td><td><input onclick="window.location.href = '/suspension';" type="button" value="Back"/></td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
{% endblock %}
