{% extends "home/rescuer_base.html" %}
{% block content %}
<body class="signupbody">
  <div class="signupwrapper">	
	<h2>
		View Users
	</h2>
	<div class="styled-table-scroll">
		<table class="styled-table">
			<thead>
				<tr>
					<th>User Type Name</th>
		    </tr>
			</thead>
			<tbody>         
			{% for user in user_data %}
	        <tr>
		        <td><a href="/users/{{ user.user_type_code }}">{{user.user_type_name}}</a></td>
					</tr>
	  	{% endfor %}
	  	</tbody>
		</table>
	</div>
	</div>
</body>	
{% endblock %}