{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="{% static 'signupstyle.css' %}">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
   <b>{{error_message}}</b>
    <form action="/login/validatesignup " method="POST" name = "signup" onsubmit="return validateForm()" >
      {% csrf_token %}

      <div class="input-box">
        <input type="text" placeholder="Enter your FDID" name = "fdid"  required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your ZIP code" name = "zip" required>
      </div>
      <div class="input-box">
        <input type="text" placeholder="Enter your user name" name = "username" required>
      </div>      
      <div class="input-box">
        <input type="password" placeholder="Create password" name = "password1" required>
      </div>
      <div class="input-box">
        <input type="password" placeholder="Confirm password" name = "password2" required>
      </div>
      <div class="policy">
        <input type="checkbox" required>
        <h3>I accept all terms & condition</h3>
      </div>
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/login">Login now</a></h3>
      </div>
    </form>
  </div>

</body>
</html>