.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    /*#231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%*/
    #086f73 0%,
    white 29%,
    #87c38f 67%,
    white 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s reverse infinite;
  display: inline-block;
  font-size: 20px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


table {
    width: 100%;
    border-collapse: collapse;
    flex:auto;
    flex-basis: auto;
    border:0px;
    font-family: "Poppins", sans-serif;
  }
  /*
  th, td {
    padding: 8px;
    border: 1px solid #ed0808;
    text-align: left;
    border:0px;
    font-family: "Poppins", sans-serif;

  }
  
  th {
    background-color: #f20505;
  }*/

  h3 {
    font-size: 20px;
    font-weight: medium;
    color: #e71315;
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }  
  /*button {
    padding: 5px 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;

  }*/
p-specification {
    position: relative;
    padding-top: 10px;
    border:none;
}
p-specification__table {
    width: 100%;
    font:bold;
    border:0px;
}
.header {
  overflow: hidden;
  background-color: #db504a;
  padding: 10px 10px;
  box-shadow: 0 -6px 10px 15px rgba(0,0,0,0.5);

}

/* Style the header links */
.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 20px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgb(102, 97, 97)c6c;
  color: rgb(254, 248, 248);
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
  padding: 12px;
  border-collapse:separate;
  border-spacing: 15px;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
.header-right  a {
  color: white;
}
.header-right  a:hover {
  color: darkgray;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
nav {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  left: 0;
}

nav .wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0 30px;
  height: 100px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
}

.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li {
  list-style: none;
  letter-spacing: 1px;
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  margin: 0 20px;
  transition: color 0.5s;
}
.nav-links li a:hover {
  color: #ff4c4c;
}

footer{
  width: 99.8%;
  height:5vh;
  background-size: cover;
  overflow: hidden;
  bottom: -.6px;
  position: absolute;
  background-color: #db504a;

  overflow: hidden;
  background-color: #db504a;
  padding: 5px 1px;
  box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);  
  }
  .contact-content {
    position: absolute;
    left: 50%;
    top:60%;
    transform: translate(-50%, -50%);
  } 
  
  .contact {
    display: flex;
    justify-content:center;
    margin-top: auto;
    justify-content: space-between;  
  }
  
  .contact-content h1 {
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    justify-content: space-between;  
  }
  
  .contact .cover {
    padding: 35px;
    letter-spacing: 2px;
    text-align: center;
  }
  .cover h3 {
    color: white;
    font-size: 10px;
  }
  
  .cover p {
    color: white;
    font-size: 10px;
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

footernav {
  position: absolute;
  z-index: 99;
  width: 100%;
  bottom: 0;
  left: 0;
}

  
/*.signupbody{
  display: grid;
  place-items: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  text-decoration: solid;
  padding: auto;
  margin: auto;
}
.signupwrapper{
  position: center;
  max-width: 100%;
  width: 90%;
  background: #fff;
  padding: 34px;
  margin-left: 0%;
  border-radius: 2px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  font-family: "Poppins", sans-serif;

}*/

html {    
    //background: url('body_bg.jpg') no-repeat center fixed;  
    background: white;   
    background-size: cover; 
}

.signupbody{ 
  /*display: grid;
  place-items: center;
  //min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Poppins", sans-serif;
  text-decoration: solid;
  padding: auto;
  margin: auto;
  margin-top: .5%;*/
}

.signupwrapper{  
  position: center;
  max-width: 100%;
  width: 90%;
  height: 500px;
  //background: #fff;
  //padding: 5%;
  margin-top: 5%;
  margin-left: 5%;
  //border-radius: 2px;
 //box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  font-family: "Poppins", sans-serif;
  //overflow-y: scroll;
  //overflow-x: scroll;  
  //background: url('body_bg.jpg') no-repeat center fixed;     
  background-size: cover;  
}
.signupwrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  //color: #333;
  color: black;
  font-family: "Poppins", sans-serif;

}
.signupwrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  //background: rgb(214, 1, 1);
  background: #db504a;
  font-family: "Poppins", sans-serif;

}
.signupwrapper form{
  margin-top: 30px;
}
.signupwrapper form .input-box{
  height: 52px;
  margin: 18px 0;
  text-align: center;
  font-family: "Poppins", sans-serif;

}

.signupwrapper input[type=button] {
    padding:5px 15px; 
    background:#db504a;
    color: white; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    //box-shadow: 0px 0px 2px 2px rgb(0,150,0);
}

.signupwrapper input[type=button]:hover
{
  background-color: lightslategrey;
  color:white;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #f44040;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #f44040;
  cursor: pointer;
  text-align: center;
}

.input-box.button input:hover{
  background: #f10e0e;
}

form .text h3{
 color: #333;
 width: 100%;
 button 
}text-align: center;
 font-family: "Poppins", sans-serif;

}
form .text h3 a{
  color: #f44040;
  text-decoration: none;
  font-family: "Poppins", sans-serif;

}
form .text h3 a:hover{
  text-decoration: underline;
}

//Style sheet for all list pages

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
    min-width: 400px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
}

.styled-table-scroll {
  height:400px;
  overflow:auto;  
  margin-top:20px;
}

.styled-table-scroll tr:hover td {
  background: blanchedalmond;
  color: black;
  //cursor: pointer;
}

.styled-table a {
  color: rgb(255, 0, 0);
}

.styled-table thead tr {
    //background-color: #226f54;
    //background-color: #f20505;
    //background-color: black;
    background-color:#db504a;
    color: #ffffff;
    text-align: left;
    //border: 3px inset darkred;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 3px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: white;//#f4f0bb;//#87c38f;//#d3def0;
    //color: white;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: white;//#f4f0bb;//#a9d1f5;#f29f94;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table td label {
  font-weight: bold;
  color: #db504a;
}

.styled-table input[type=submit] {
    padding:5px 15px; 
    background:#db504a;
    color: white; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    //box-shadow: 0px 0px 2px 2px rgb(0,150,0);
}

.styled-table input[type=submit]:hover
{
  background-color: darksalmon;
  color: white;
}

.styled-table input[type=button] {
    padding:5px 15px; 
    background:#db504a;
    color: white; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    //box-shadow: 0px 0px 2px 2px rgb(0,150,0);
}

.styled-table input[type=button]:hover
{
  background-color: darksalmon;
  color: white;
}

//Style sheet for all input pages
.input-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: "Poppins", sans-serif;
    min-width: 400px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.15);
}

.input-table-scroll {
  height:450px;
  overflow:auto;  
  margin-top:20px;
}

.input-table a {
  color: rgb(255, 0, 0);
}

.input-table thead tr {
    //background-color: #052df5;
    //background-color: black
    color: #ffffff;
    text-align: left;
}

.input-table th,
.input-table td {
    padding: 12px 15px;
    text-align: left;
}

.input-table tbody tr {
    border-bottom: 3px solid #dddddd;
}

.input-table tbody tr:nth-of-type(even) {
    background-color: white;//#f4f0bb;//#87c38f;//#d3def0;
}

.input-table tbody tr:nth-of-type(odd) {
    background-color: white;//#f4f0bb;//#a9d1f5;#f29f94;
}


.input-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.input-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.input-table td label {
  font-weight: bold;
  color: rgb(255, 0, 0);
}

.input-table input[type=submit] {
    padding:5px 15px; 
    background:#db504a;
    color: white; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    //box-shadow: 0px 0px 2px 2px rgb(0,150,0);
}

.input-table input[type=submit]:hover
{
  background-color: darksalmon;
  color: white;
}

.input-table input[type=button] {
    padding:5px 15px; 
    background:#db504a;
    color: white; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    //box-shadow: 0px 0px 2px 2px rgb(0,150,0);
}

.input-table input[type=button]:hover
{
  background-color: darksalmon;
  color: white;
}

.input-table input text{
      width: 150px; 
      /* When specifying this, you can use both px and % */
}


label {
  color: black;
}

.gridwrapper {
  display: grid;
  //grid-auto-flow: column;
  grid-template-columns: auto auto auto auto;    
  grid-gap: 40px;
  //background-image: url(body_bg.jpg);
  //background-color: #106875;
  background-size: cover; 
  color: #444;
}

.box {
  background: url(paper.gif);
  border-radius: 25px;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 2px solid black;
  font-size: 3em;
}

.gridbox {
  //border-radius: 25px;
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 2px solid black;
  font-size: 3em;
}

.gridbox a { 
  text-decoration: none; 
  color: white ;
}

.gridbox a:hover {
  background-color: rgb(102, 97, 97)c6c;
  color: black;
}


.gridbox_table {
  border-spacing: 0;  
  border-collapse: separate;  
  border-radius: 10px;  
  border: 5px solid #db504a;
}

.gridbox_table td {
    //padding: 2px 5px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border: none;
    background-color: #db504a;
}