{% extends "home/rescuer_base.html" %}

{% block content %}

<head>
    <title>Create Transmission</title>
</head>
<body class="signupbody">
    <div class="signupwrapper">
        <h2>Create Transmission</h2>
        <form action="/transmission/create" method="POST" name="transmission_create" onsubmit="return validateForm()">
            {% csrf_token %}
            <div class="input-table-scroll">
                <table class="input-table">
                    <tr><td>Transmission Name: <font color="red">*</font></td><td><input type="text" name="transmission_name" required /></td></tr>
                    <tr><td>Transmission Type: <font color="red">*</font></td><td><input type="text" name="transmission_type" required/></td></tr>
                    <tr><td>Gears: <font color="red">*</font></td><td><input type="number" name="gears" step="1" required/></td></tr>
                    <tr><td>Max Torque: <font color="red">*</font></td><td><input type="number" name="max_torque" step="1" required/></td></tr>
                    <tr><td>Weight: <font color="red">*</font></td><td><input type="number" name="weight" step="1" required/></td></tr>
                    <tr><td>Transmission Cost: <font color="red">*</font></td><td><input type="number" step="0.01" name="transmission_cost" required/></td></tr>
                    
                    <tr><td><input type="submit" value="Save"/></td>
                     <td><input onclick="window.location.href = '/transmission';" type="button" value="Back"/></td></tr>
                </table>
            </div>
        </form>
    </div>
</body>
{% endblock %}
