{% extends "home/rescuer_base.html" %}
{% block content %}
{% load tag_library %}

<body class="signupbody">
  <div class="signupwrapper">
  <h2>Select Your Rear Suspension:</h2>
    <form id="rearSuspForm" action="/CT/orders/new/pump" method="post">
      {% csrf_token %}
      <input type="hidden" value="{{aerial_id}}" name="aerial">
      <input type="hidden" value="{{cid}}" name="chassis">
      <input type="hidden" value="{{engine_id}}" name="engine">
      <input type="hidden" value="{{tid}}" name="transmission">
      <input type="hidden" value="{{electrical_id}}" name="electrical">
      <input type="hidden" value="{{front_suspension_id}}" name="front_suspension">
      <div class="input-table-scroll">
        <table class="input-table">
        {% for rear_suspension in rear_suspension_list %}
          <tr>
            <td>
              {% if rear_suspension.0 == request.GET.rear_suspension|to_int %}
                <input type="radio" id="{{ rear_suspension.0 }}" name="rear_suspension" value="{{ rear_suspension.0 }}" required checked>
              {% else %}
                <input type="radio" id="{{ rear_suspension.0 }}" name="rear_suspension" value="{{ rear_suspension.0 }}" required>
              {% endif %}                
            </td>
            <td>{{ rear_suspension.1 }}</td>
          </tr>
        {% endfor %}
          <tr>
            <td><input type="submit" value="Next"/></td>
            <td><input onclick="window.location.href = '/CT/orders/new/front_suspension?aerial={{aerial_id}}&chassis={{cid}}&engine={{engine_id}}&transmission={{tid}}&electrical={{electrical_id}}&front_suspension={{front_suspension_id}}';" type="button" value="Back"/></td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</body>

{% endblock %}