{% extends "home/rescuer_base.html" %}
{% block content %}
<body class="signupbody">
	<div class="signupwrapper">
        <h2>Aerials Compatibility </h2>
        <form action="/chassis/saveaerialscompatibility" method="POST">      
            {% csrf_token %}
            <div class="input-table-scroll">
                <table class="input-table">   
                {% for aerial in aerial_data %}
                    <tr>
                        <td><input type="checkbox" name="selected_aerial" value="{{ aerial.aerial_id }}"></td>               
                        <td>{{ aerial.aerial_name }}</td>
                    </tr>
                {% endfor %}
                    <tr><td><input type="submit" value="Save"></td><td></td></tr>
                </table>
            </div>
            <input type="hidden" name="cid" value="{{cid}}">
        </form>
    </div>
</body>
{% endblock %}